@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: 'Humane';
  src: url('../public/fonts/Humane-Bold.woff2') format('woff2'), 
       url('../public/fonts/Humane-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.parallax {
  background-attachment: fixed;
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(-50%);
  height: ;
}

.splash-screen {
  animation: fadeOutBackground 1s ease-out 1s forwards;
}

@keyframes fadeOutBackground {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}

.hero-content {
  background-color: white;
}

.parallax-text {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax-text .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax-text span {
  display: block;
  margin-right: 30px;
}


